<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=0.5, maximum-scale=3.0"
    />
    <style>
      #production {
        display: none;
      }
      #development {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid gray;
        font-size: 1em;
        padding: 2px;
        text-transform: uppercase;
      }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id=<%= htmlWebpackPlugin.options.env %>>
      <%= htmlWebpackPlugin.options.env %>
    </div>
    <div id="root"></div>
  </body>
</html>
